{% extends "base.html" %}
{% block title %}
Your tasks
{% endblock %}

{% block content %}
<a href='/'>
    Home
</a>
<section>
    <p>
        Your tasks {{name}}
    </p>
    <div class="tasks_text">
        <ul>
            {% if tasks|length < 1 %}
                <li><p>There are no tasks yet. Create one below</p></li>
            {% else %}
                {% for task in tasks %}
                    <li><p>{{task["task"]}}</p>
                        <a  href="/update/{{task['user_task_id']}}">Update</a>
                        <a href="/delete/{{task['user_task_id']}}">Delete</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    <form action="/tasks" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add task">
    </form>
    <p><a  href="/logout" >Log out</a></p>
</section>
{% endblock %}