{% extends "base.html" %}
{% block title %}
Your tasks
{% endblock %}

{% block content %}
<a href='/'>
    Home
</a>
<aside class="menu">
    <p class="menu-label">
        Updating task
      </p>
    <!-- <ul class="menu-list">
    {% for task in tasks %}
        <li><a>{{task["task"]}}</a><td>
            <a href="/update/{{task['user_task_id']}}">Update</a>
            <a href="/delete/{{task['user_task_id']}}">Delete</a>
        </td></li>
    {% endfor %}
    </ul> -->

    <form action="/update/{{task.user_task_id}}" method="POST">
        <input type="text" name="content" id="content" value="{{task.task}}">
        <input type="submit" value="Update task">
    </form>
    <p><a  href="/logout" >Log out</a></p>
</aside>
{% endblock %}